@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.App {
  margin: 2vh;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  text-align: center;
  color: rgba(0, 147, 216, 0.84);
}

h3 {
  color: rgba(0, 147, 216, 0.84);
  margin-bottom: 0.2vh;
}
